.centered {
  display: flex;
  justify-content: center;
}

#login-wrapper {
  text-align: center;
  border: 2px solid black;
  border-radius: 5%;
  background-color: #ede1d1;
  width: 40%;
  max-width: 400px;
  height: 300px;
  margin-top: 30px;
}

.primary-button {
  border: 2px solid black;
  border-radius: 10px 10%;
  width: 100px;
  height: 30px;
  background-color: #90ee90;
}

.input {
  border: 2px solid black;
  border-radius: 10px 10%;
  width: 200px;
  height: 32px;
  padding: 2px; 
}
