{% extends "base.html" %}

{% block content %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}"/>
    <div class='centered'>
      <div id='login-wrapper'>
        <h1>Sign In</h1>
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {{ form.weight.label }}<br>
            {{ form.weight(size=32,class='input') }}<br>
            {% for error in form.weight.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p> 
          <p>{{ form.submit(class='primary-button') }}</p>
        </form>
      </div>
    </div>
{% endblock %}
